.slideshow{
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
}

.slideshow__img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 25px;
}

.leftarrow{
    position: absolute;
    left: 2%;
    top: 40%;
    cursor: pointer;
}

.rightarrow{
    position: absolute;
    right: 2%;
    top: 40%;
    cursor: pointer;

}

.bullet{
    position: absolute;
    right: 48%;
    bottom: 0%;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

@media screen and (max-width: 768px) {
    .slideshow{
        height: 255px;
        border-radius: 10px;
    }

    .leftarrow{
    height: 20px;
    width: 12px;
    }
    
    .rightarrow{
        height: 20px;
        width: 12px;
    }
    .bullet{
        display: none;
    }
}

