.tags{
    min-width: 115px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6060;
    border-radius: 10px;
    margin-right: 10px;
}
.tags__text{
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 0 5px 0 5px;
}
@media screen and (max-width: 768px) {
    .tags{
        min-width: 84px;
        height: 18px;
        border-radius: 5px;
        
    }
    .tags__text{
        font-size: 10px;
        padding: 0 5px 0 5px;
    }
    

}