.banner__container{
    display: flex;
    justify-content: center;
    margin: 63px 100px 43px 100px;
    border-radius: 25px;
    position: relative;
}


.home__banner{
    height: 223px;
    width: 100%;
    object-fit:cover;
    border-radius: 25px;
    filter: brightness(60%);
    
}

.banner__text{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: 500;

}

.card__background{
    margin: 0 100px 50px 100px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.card__container{
    padding: 56px 50px 56px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

@media screen and (max-width: 400px) {
    .home__banner{
        height: 111px;
        width: 100%;
        object-fit:cover;
        border-radius: 10px;
        filter: brightness(60%);
        
    }

    .banner__text{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 24px;
        color: white;
        font-weight: 500;
    
    }

}
