.banner__container{
    display: flex;
    justify-content: center;
    margin: 63px 100px 43px 100px;
    border-radius: 10px;
    background-color: black;
    mix-blend-mode: darken;
}


.home__banner{
    height: 223px;
    object-fit:contain;
    
}

.card__background{
    margin: 0 100px 50px 100px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.card__container{
    padding: 56px 50px 56px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}