header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 40px 100px 0 100px
    

}
nav{
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin-left: 57px;
}
a{
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
}
img{
    max-height: 68px;
    max-width: 210px;
}
