.dropdownsmall{
    width: 582px;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 10px;
}



.dropdownsmall__button{
    
    height: 52px;
    background-color:#FF6060 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

}
.dropdownsmall__button__title{
    font-weight: 500;
    font-size: 18px;
    color: white;

}
.dropdownsmall__button__icon{
    cursor: pointer;
}
.dropdownsmall__body{
    background-color: #F6F6F6 ;
    border-radius: 10px;
    margin-top: -30px;
}
.dropdownsmall__body__text{
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    padding: 35px 20px 55px 20px;
    

}
.--array{
    display: flex;
    flex-direction: column;
    padding: 35px 20px 20px 20px;
}

@media screen and (max-width: 768px) {
    .dropdownsmall{
        width: 335px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .dropdownsmall__button{
    
        height: 30px;
    }
    .dropdownsmall__button__title{
        font-weight: 500;
        font-size: 13px;
        color: white;
    
    }
    .dropdownsmall__body{
        border-radius: 5px;
    }

}