.banner__container{
    display: flex;
    justify-content: center;
    margin: 44px 100px 31px 100px;
    border-radius: 25px;
    position: relative;
}


.home__banner{
    height: 223px;
    width: 100%;
    object-fit:cover;
    border-radius: 25px;
    filter: brightness(60%);
    
}



.banner__text{
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: 500;

}

@media screen and (max-width: 992px) {
    .banner__container{
        margin: 20px 20px 6px 20px;
    }
    .home__banner--home{
        height: 111px;
    }
    .banner__text{
       font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .banner__text{
        position: absolute;
        top: 30%;
        left: 5%;
        text-align: start;
        height: 48px;  
        width: 217px;
    }

}